<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addrLevelNum</key>
	<string>4</string>
	<key>countryList</key>
	<array>
		<dict>
			<key>name</key>
			<string>中国</string>
			<key>value</key>
			<string>156</string>
			<key>provinceList</key>
			<array>
				<dict>
					<key>name</key>
					<string>上海</string>
					<key>value</key>
					<string>310000</string>
					<key>cityList</key>
					<array>
						<dict>
							<key>name</key>
							<string>上海</string>
							<key>value</key>
							<string>310100</string>
							<key>areaList</key>
							<array>
								<dict>
									<key>name</key>
									<string>浦东新区</string>
									<key>value</key>
									<string>310115</string>
								</dict>
								<dict>
									<key>name</key>
									<string>黄浦区</string>
									<key>value</key>
									<string>310101</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>河南</string>
					<key>value</key>
					<string>311231</string>
					<key>cityList</key>
					<array>
						<dict>
							<key>name</key>
							<string>郑州</string>
							<key>value</key>
							<string>235678</string>
							<key>areaList</key>
							<array>
								<dict>
									<key>name</key>
									<string>二七区</string>
									<key>value</key>
									<string>564564</string>
								</dict>
								<dict>
									<key>name</key>
									<string>中原区</string>
									<key>value</key>
									<string>567567</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
